{% extends "posts/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}

<main role="main" class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <h1 class="blog-post-title">{{ post.title }}</h1>
                <p class="blog-post-meta">January 1, 2014 by <a href="{% url 'author' post.author.pk %}">{{ post.author.name }}</a></p>
            </div>
        </div>
    </div>

    <!-- Test image block - move to separate block after S3 storage is implemented -->
    <div hidden>
        <img src="img/1.jpeg" class="blog-post-block blog-post-image" width:100%" />
    </div>

    {% for block in blocks %}
    {{ block }}
    {% endfor %}
</main>

{% endblock %}